<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tag">

<head th:include="fragments/common :: [//head]">
</head>

<body>
<div role="navigation" th:substituteby="fragments/menu :: [//nav[@class='menu']]"></div>
	
	
	

	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Gérer<br/>
						la facture
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
<!-- <p th:text="'id: ' + ${facture.c.firstName}" /> --> 
 
  <div class="col-lg-8">
				<div  class="panel panel-default">
  <table class="table table-striped">
			<thead>
        		<tr>
					<th>#Ref facture</th>
					<th>Client</th>
					<th>Produits</th>
					<th>Prix unitaire</th>
					<th>Qte</th>
					<th>Prix total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="factur : ${factures}">
					<td  th:text="${factur.ref}"></td>
					<td th:text="${factur.c.firstName}">
						
					</td>
					<td>
						<div th:each="produit : ${factur.lp}" th:text="${produit.name}"></div>
					</td>
					<td>
						<div th:each="produit : ${factur.lp}" th:text="${produit.prix} + euro"></div>
					</td>
					<td>
						<div th:each="quantite : ${factur.lq}" th:text="${quantite.qte}"></div>
					</td>
					<td  th:text="${factur.prixTotal}"></td>
					
					 <td><a type="button"  class="btn btn-default btn-xs">
 				 <span class="glyphicon glyphicon-print"></span>
				</a>
				</td>
				 <td><a type="button"  class="btn btn-default btn-xs">
 				 <span class="glyphicon glyphicon-pencil"></span>
				</a>
				</td>
				 <td><a type="button" th:href="@{/facture/delete(id=${factur.id})}" class="btn btn-default btn-xs">
 				 <span class="glyphicon glyphicon-trash"></span>
				</a>
				</td>
					
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		
		
		 <div class="col-lg-4">
				<div  class="panel panel-default">
				<center><h4><b>Imprimer toutes les factures</b></h4></center>
				<center><button id="btnimprim" class="btn btn-green btn-lg glyphicon glyphicon-print" value="Imprimer" name="B1" onclick="imprimer()" />
		</center>
		</div>
		</div>
		
		
		<script language="Javascript">
function imprimer(){window.print();}
</script>
		<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script th:replace="fragments/common :: [//script]"></script>

	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>