<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tag">

<head th:include="fragments/common :: [//head]">

</head>

<body>
<div role="navigation" th:substituteby="fragments/menu :: [//nav[@class='menu']]"></div>
	
	
	

	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Passer<br/>
						à la caisse
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
   




     
<div class="container">

<div class="row ">


<div class="col-lg-2">
				<div class="panel panel-default">
  <center><h4><b>Catégorie </b><span class="glyphicon glyphicon-tags"/></h4></center>
    
       	<td><center><span><a  name="filtreCat" th:href="@{/caisse(filtreCat=${cat.name})}" th:each="cat : ${cats}" th:value="${cat.name}" ><button id="caissecat"   class = "btn btn-default btn-lg" th:text="${cat.name}"></button></a></span></center></td>
   	  <!--</form>  --> 
  
    </div>
</div>
<div class="col-lg-6">
				<div class="panel panel-default">
  <center><h4><b>Produits </b><span class="glyphicon glyphicon-tag"/></h4></center>
     <!--    <form action="/product" th:action="@{/product}" th:object="${product}"  method="get"> -->
       	<td><span><a  th:href="@{/caissee(id=${product.id})}" th:each="product : ${products}"  ><button id="caisse" class = "btn btn-default btn-lg" th:text="${product.name}"></button></a></span></td>
   	  <!--</form>  --> 
  
    </div>
</div>
 
  
        
   
        
      


<script th:inline="javascript"/>




 

 
 <div class="col-lg-4">
     <div class="panel panel-default">
  <!-- Default panel contents -->
  <center><h4><b>Panier </b><span class="glyphicon glyphicon-shopping-cart"/></h4></center>
  <table class="table">
    <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${session.panier}" > 
            <td th:text="${product.value.id}"></td>
                <td th:text="${product.value.name}"></td>
               <td th:text="${product.value.prix}"></td>
               <td th:text="${session.qty[product.value.id]}"></td>
              
               <td><a th:href="@{/deletePanier(id=${product.value.id})}" class="btn btn-default btn-xs">
 				 <span class="glyphicon glyphicon-remove"></span>
				</a></td>
               
            </tr>
           
        </tbody>
  </table>
  <br/>
    <table class="table">
        <thead>
            <tr>
                <td>Prix total</td>
                 <td><span th:text = "${session.prixTotal}"></span></td>
            </tr>
        </thead>
    
    </table>
   
	</div>
	
	</div>
	</div>    
 
	  <div class="col-lg-8">
	  </div>

 
 <div class="col-lg-4">
     <div class="panel panel-default">
<form action="#" th:action="@{/validationCommande}" th:object="${facture}" method="post">      
        
        
        

<center><h4><b>Choisir un client </b><span class="glyphicon glyphicon-shopping-cart"/></h4></center>


							<select th:field="*{namee}" >
								<option th:each="cust : ${custs}"
									th:field="*{namee}"
									th:value="${cust.id}"
									th:text="${cust.firstName}"
									 />
							</select>
							<br />
<p><input type="submit" value="Submit" onclick="myFunction()" /> <input type="reset" value="Reset" /></p>
	


</form>
</div>
</div>
</div>
<br/><br/><br/><br/>


<script>
function myFunction() {
    alert("Commande terminée avec succés!");
}

</script>


<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script th:replace="fragments/common :: [//script]"></script>

	<script type="text/javascript" th:src="@{/resources/scripts/home.js}"></script>
</body>
</html>