<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tag">


<head th:include="fragments/common :: [//head]">

</head>

<body>

	<div role="navigation" th:substituteby="fragments/menu :: [//nav[@class='menu']]"></div>

	
	
	

	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Passer<br/>
						à la caisse
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
   


	<div class="container">
		<div class="row ">
			<div class="col-lg-2">
				<div class="panel panel-default">
					<center>
						<h4>
							<b>Catégorie </b><span class="glyphicon glyphicon-tags" />
						</h4>
					</center>
					<td>
						<center>
							<span>
								<a name="filtreCat"
									th:href="@{/caisse(filtreCat=${cat.name})}"
									th:each="cat : ${cats}" th:value="${cat.name}"
									th:switch="${filtreCat}">
										<!--  <button th:case="${cat.name}" id="caissecat" class="btn btn-default btn-lg active" th:text="${cat.name}" th:style="@{'background-color: ' + ${cat.color}}"></button>
										<button th:case="*" id="caissecat" class="btn btn-default btn-lg" th:text="${cat.name}" th:style="@{'background-color: ' + ${cat.color}}"></button>-->
										<button th:case="${cat.name}" id="caissecat" class="btn btn-default btn-lg active"  th:style="@{'background-image: url(\'' + ${cat.img} +'\')'}"><label id="labelcaisse" th:text="${cat.name}"></label></button>
										<button th:case="*" id="caissecat" class="btn btn-default btn-lg" th:style="@{'background-image: url(\'' + ${cat.img} +'\')'}"><label id="labelcaisse" th:text="${cat.name}"></label></button>
										
								</a>
							</span>
						</center>
					</td>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<center>
						<h4>
							<b>Produits </b><span class="glyphicon glyphicon-tag" />
						</h4>
					</center>
					<td>
						<span>
							<a th:href="@{'/caissee?id=' + ${product.id}}" th:each="product : ${products}">
								<button id="caisse" class="btn btn-default btn-lg"  th:style="@{'background-image: url(\'' + ${product.category.img} +'\')'}"><label id="labelcaisse" th:text="${product.name}"></label></button>
							</a>
						</span>
					</td>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<center>
						<h4>
							<b>Panier </b><span class="glyphicon glyphicon-shopping-cart" />
						</h4>
					</center>
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nom</th>
								<th>Prix</th>
								<th>TVA</th>
								<th>Qté</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product : ${session.panier.productQuantities}">
								<td th:text="${product.value.product.id}"></td>
								<td th:text="${product.value.product.name}"></td>
								<td th:text="${product.value.product.prix}"></td>
								<td th:text="${product.value.product.category.TVA.tva}"></td>
								<td th:text="${product.value.qte}"></td>

								<td><a th:href="@{/deletePanier(id=${product.value.id})}"
									class="btn btn-default btn-xs"> <span
										class="glyphicon glyphicon-remove"></span>
								</a></td>

							</tr>

						</tbody>
					</table>
					<br />
					<table class="table">
						<tbody>
							<tr>
								<td>Prix total HT</td>
								<td><span th:text="${session.panier.getTotalHTFormated()}"></span></td>
							</tr>
							<tr>
								<td>Prix total TTC</td>
								<td><span th:text="${session.panier.getTotalTTCFormated()}"></span></td>
							</tr>
							<tr>
								<td><span th:text="@{'Discount (' + ${session.panier.getDiscountFormated()} + ')'}"></span></td>
								<td><span th:text="@{${session.panier.getTotalTTCDiscountFormated()}}"></span></td>
							</tr>
							<tr>
								<td>Client</td>
								<td>
									<select id="changeCustomer" >
										<option value="0">Client non enregistré</option>
										<option th:each="cust : ${custs}"  th:value="${cust.id}" th:text="@{${cust.lastName} + ' ' + ${cust.firstName}}" th:selected="@{${session.panier.getClientId()} == ${cust.id}}" />
									</select>
									
								</td>
									
							</tr>
							
							<tr>
								<td>Moyen de paiement</td>
								<td>
								<input type="radio" name="MP" value="Carte-bancaire" th:checked="@{${session.panier.moyenPaiement} == 'Carte-bancaire'}"/>
								<img src="cb.gif"/>
								<br />
								<input type="radio" name="MP" value="Chèque" th:checked="@{${session.panier.moyenPaiement} == 'Chèque'}"/>
								<img src="cheque.png"/>
								<br/>
								<input type="radio" name="MP" value="Espèces" th:checked="@{${session.panier.moyenPaiement} == 'Espèces'}"/>
								<img src="cash.png"/>
								</td>
									
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="panel panel-default">
					<form th:action="@{/facture/validationCommande}" method="post">
						<center>
							<h4>
								<b>Valider la commande </b><span class="glyphicon glyphicon-credit-card" />
							</h4>
							<button class="btn btn-green btn-lg glyphicon glyphicon-ok" type="submit" value="Submit"/>
							<button class="btn btn-green btn-lg glyphicon glyphicon-remove" type="reset" value="Reset" />
						</center>
					</form>
				</div>
			</div>
		</div>
		<br />
		<br />
	</div>

	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script th:replace="fragments/common :: [//script]"></script>

	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/caisse.js}"></script>
</body>
</html>
