<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tag">

<head th:include="fragments/common :: [//head]">
</head>

<body>
<div role="navigation" th:substituteby="fragments/menu :: [//nav[@class='menu']]"></div>
	
	
	

	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Gérer<br/>
						les produits
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
      
      <!--glyphicon glyphicon-plus-->
      
 <div class="container">
			
		
		<div class="row ">
<div class="col-lg-4">
				<div class="panel panel-default">
					<center><h4><b>Ajouter un nouveau produit</b></h4></center>
			<center>
					<button id="buttoncreateproduct" class="btn btn-green btn-lg glyphicon glyphicon-plus" data-toggle="modal">
	
		</button>

    	</center>
				</div>
				<!--  
				<div class="panel panel-default">
					<center><h4><b>Créer une nouvelle catégorie</b></h4></center>
			<center>
			<form  id="formnewcat"  name="formnewcat" action="#" th:object="${category}" method="post">
			<input id="createcat" name="newcat" type="text" class="form-control" placeholder="Nouvelle catégorie" th:field="*{name}" />
					<button id="buttoncreatecat" class="btn btn-green btn-lg glyphicon glyphicon-plus">
	
		</button>
</form>
    	</center>
				</div>-->
						
				
			<div class="panel panel-default">
					<center><h4><b>Rechercher un produit</b></h4></center>
					

       <form  id="formrch" role="search" name="form2" action="#" th:object="${product}" method="get">
        
        <input id="rchinput" type="text" class="form-control" placeholder="Recherche" th:field="*{name}" />
        
    
    <select id="rch" class="form-control" name="recherche">
 
  <option value="case2" id="case2">Par nom</option>
  <option value="case3" id="case3">Par categorie</option>
   <option value="case4" id="case4">Par tranche de prix</option>
</select>
<div id="ok">
<a>Entre</a> <input name="Min"  placeholder='Min' class='form-control'> </input><a>Et</a> <input name="Max" placeholder='Max' class='form-control'> </input>
    </div>
   <center> <button id="buttonrch" class="btn btn-green btn-lg glyphicon glyphicon-search" type="submit" value="Rechercher" /> 
    
        <button id="reinitialise"  class="btn btn-green btn-lg glyphicon glyphicon-refresh"   value="Reinitialiser" /> </center>
        </form>
				</div>
		
	
				
			</div>
			
			
			
			
			
			<div class="col-lg-8">
				<div class="panel panel-default">
		 <ul>
     <table class="table table-striped">
        <thead>
            <tr>

                <th>#Réf produit</th>

                 <th>Catégorie</th>
               
                <th>Nom Produit</th>
                <th>Stock</th>
             
                <th>Prix</th>
                <th></th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
          
          <tr th:each="product : ${products}" >
            <td th:text="${product.ref}"></td>
             <td th:text="${product.category.name}"></td>
                <td th:text="${product.name}"></td>
                <td id="cpt" th:text="${product.stock}"> </td>

                <td th:text="${product.prix}"></td>
                
                  <td><button  id="${product.id}" class="btn btn-green btn-default btn-xs" th:onclick="@{'javascript:editProduct(\'/product/edit\', ' + ${product.id} + '); return false;'}" >
                  <i class="glyphicon glyphicon-pencil"></i></button></td>
                  
           
                <td><a type="button" th:href="@{/delete(id=${product.id})}" class="btn btn-default btn-xs">
 				 <span class="glyphicon glyphicon-trash"></span>
				</a>
				</td>
               
            </tr>
           
        </tbody>
    </table>
    
    </ul>
    </div>
			</div>

			
							</div>
				

	</div><!-- container -->
    
  
		
<!-- <div th:include="fragments/paginationbar :: paginationbar"></div> -->
    
    
    
   <div th:substituteby="product/productForm :: [//div]"></div>

	 <!--  End page content -->





	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	
	<script th:replace="fragments/common :: [//script]"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/productlist.js}"></script>
	
	
	
	
</body>
</html>
