<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: [//head]">
</head>

<body>
	<div role="navigation" th:substituteby="fragments/menu :: [//div[@class='navbar']]"></div>
	
	
	
	
	<!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>
        	Liste des produits
        </h1>
      </div>
      
       <div class="row">
  <div class="col-md-9 col-md-offset-4">
  <!-- 
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> 
  Ajouter un nouveau produit
</button>-->
 <!--

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter un produit</h4>
      </div>
      <div class="modal-body">
        <form name="form1" action="#" th:object="${product}" method="post">
        <p>Nom du produit: <input type="text" th:field="*{name}" /></p>
        <p>Prix du produit: <input type="text" th:field="*{prix}" /></p>
        <p>Categorie: <input type="text" th:field="*{category}" /></p>
      
  
     
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="reset" value="Reset" class="btn btn-primary">Reset</button>
        <button type="submit" value="Submit" class="btn btn-primary">Save changes</button>
          </form>
      </div>
    </div>
  </div>
</div> -->
  
    <a href="/product/create">Ajouter un nouveau produit</a>

       <form name="form2" action="#" th:object="${product}" method="post">
        <span>Rechercher: <input type="text" th:field="*{name}" /></span>
        <span><input type="submit" value="Rechercher" /> </span>
    </form>
    </div>
      </div>
   <ul>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Ref produit</th>
                <th>Nom Produit</th>
                <th>Stock</th>
                <th>Categorie</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}" > 
            <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.prix}"></td>
                <td th:text="${product.category}"></td>
                <td><a th:href="@{/edit(id=${product.id})}">Editer</a></td>
                <td><a th:href="@{/delete(id=${product.id})}">Supprimer</a></td>
            </tr>
           
        </tbody>
    </table>
    	<!-- <li th:each="product : ${products}" >
    	
    		<span th:text="${product.name}"></span>
    		<span th:text="${product.prix}"></span>
    		<span>euro</span>
    		<span th:text="${product.category}"></span>
    		<span><a th:href="@{/edit(id=${product.id})}">Editer</a></span>
    		<span><a th:href="@{/delete(id=${product.id})}">Supprimer</a></span> 
    		
    	</li> -->
    </ul>

    </div>
	<!-- End page content -->





	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script th:replace="fragments/common :: [//script]"></script>

	<script type="text/javascript" th:src="@{/resources/scripts/home.js}"></script>
	
	
	
</body>
</html>