<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: [//head]">
</head>

<body>
	 <div role="navigation" th:substituteby="fragments/menu :: [//div[@class='navbar']]"></div>
	
	
	

	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Gérer<br/>
						les produits
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
      
      <!--glyphicon glyphicon-plus-->
      
 <div class="container">
<h1>Outils</h1>
		<div class="row ">
<div class="col-lg-4">
				
				<div class="cardinfo">
					<h4><b>Ajouter un nouveau produit</b></h4>
			
					<button id="buttoncreateproduct" class="btn btn-green btn-lg glyphicon glyphicon-plus" data-toggle="modal">
		
		</button>

    
				</div>
						
				
				<div class="cardinfo">
					<h4><b>Rechercher un produit</b></h4>
					

       <form  role="search" name="form2" action="#" th:object="${product}" method="get">
        
        <input type="text" class="form-control" placeholder="Recherche" th:field="*{name}" />
        
    
    <select class="form-control" name="recherche">
  
  <option value="case2">Par nom</option>
  <option value="case3">Par categorie</option>
</select>
    <button id="buttonrch" class="btn btn-green btn-lg glyphicon glyphicon-search" type="submit" value="Rechercher" /> 
    </form>
				</div>
		
	
				
			</div>
			
			
			
			
			
			<div class="col-lg-8">
				
		 <ul>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Ref produit</th>
                 <th>Categorie</th>
               
                <th>Nom Produit</th>
                <th>Stock</th>
             
                <th>Prix</th>
                <th></th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
          
          <tr th:each="product : ${products}" >
            <td th:text="${product.id}"></td>
             <td th:text="${product.category.name}"></td>
                <td th:text="${product.name}"></td>
                <td id="cpt" th:text="${product.stock}"> </td>

                <td th:text="${product.prix}"></td>
                
                  <td><button  id="${product.id}" class="btn btn-green btn-default btn-xs" th:onclick="@{'javascript:editProduct(\'/product/edit\', ' + ${product.id} + '); return false;'}" >
                  <i class="glyphicon glyphicon-pencil"></i></button></td>
                  
           
                <td><a type="button" th:href="@{/delete(id=${product.id})}" class="btn btn-default btn-xs">
  <span class="glyphicon glyphicon-remove"></span>
</a>
</td>
               
            </tr>
           
        </tbody>
    </table>
    
    </ul>
			</div>
			
			
			
			
			
			
							</div>
				

	</div><!-- container -->
    
  
			<!--  
    
    
   <ul>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Ref produit</th>
                 <th>Categorie</th>
               
                <th>Nom Produit</th>
                <th>Stock</th>
             
                <th>Prix</th>
                <th></th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
          
          <tr th:each="product : ${products}" >
            <td th:text="${product.id}"></td>
             <td th:text="${product.category.name}"></td>
                <td th:text="${product.name}"></td>
                <td id="cpt" th:text="${product.stock}"> </td>

                <td th:text="${product.prix}"></td>
                
                  <td><button  id="${product.id}" class="btn btn-green btn-default btn-xs" th:onclick="@{'javascript:editProduct(\'/product/edit\', ' + ${product.id} + '); return false;'}" >
                  <i class="glyphicon glyphicon-pencil"></i></button></td>
                  
           
                <td><a type="button" th:href="@{/delete(id=${product.id})}" class="btn btn-default btn-xs">
  <span class="glyphicon glyphicon-remove"></span>
</a>
</td>
               
            </tr>
           
        </tbody>
    </table>
    
    </ul>-->
<div th:include="fragments/paginationbar :: paginationbar"></div>
    
    
    
   <div th:substituteby="product/productForm :: [//div]"></div>

	 <!--  End page content -->





	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	
	<script th:replace="fragments/common :: [//script]"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/productlist.js}"></script>
	
	
	
	
</body>
</html>