<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: [//head]">
</head>

<body>
<div role="navigation" th:substituteby="fragments/menu :: [//div[@class='navbar']]"></div>

<div class="container">
<div class="row">
  <div class="col-xs-6 col-sm-3">
  <h1>Mon Panier</h1>
  
  
   <ul>
    	<li th:each="fruit : ${session.panier}" th:text="${fruit.name}"></li>
    </ul>

  

  
</div>

  <div class="col-xs-6 col-sm-3">
  <h1>Magasin</h1>
  <form action="#"  th:object="${fruit}" method="post">
        <p>Nom: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
  </div>
  
</div>
</div>
<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script th:replace="fragments/common :: [//script]"></script>


	
	
	
</body>
</html>