<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tag">

<head th:include="fragments/common :: [//head]">
</head>

<body>
	<!-- Begin page content -->
	<div class="container">
		<div class="page-header">
			<h1>
				Compte <small>Veuillez configurer votre compte</small>
			</h1>
		</div>

		<form th:action="@{/config}" method="post">
			<div class="form-group">
				<label for="login" class="col-sm-2 control-label">Compte</label>
				<div class="col-sm-10">
					<input type="text" name="login" autofocus="autofocus" />
				</div>
			</div>
			<div class="form-group">
				<label for="pwd0" class="col-sm-2 control-label">Ancien mot de passe</label>
				<div class="col-sm-10">
					<input type="password" name="pwd" />
				</div>
			</div>
			<div class="form-group">
				<label for="pwd" class="col-sm-2 control-label">Nouveau mot de passe</label>
				<div class="col-sm-10">
					<input type="password" name="pwd" />
				</div>
			</div>
			<div class="form-group">
				<label for="pwd2" class="col-sm-2 control-label">Vérification</label>
				<div class="col-sm-10">
					<input type="password" name="pwd2" />
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-ok"></span> Valider
					</button>
					<a th:href="@{/}" class="btn btn-default">
						Fermer
					</a>
				</div>
			</div>
		</form>
		<form th:action="@{/login/openid}" method="post">
		    <input name="openid_identifier" type="hidden" value="https://www.google.com/accounts/o8/id"/>
		    <input name="openid.ns.pape" type="hidden" value="http://specs.openid.net/extensions/pape/1.0"/>
		    <input name="openid.pape.max_auth_age" type="hidden" value="0"/>
			<button type="submit" class="btn btn-google-plus">
				<i class="fa fa-google-plus"></i> | Connect with Google
			</button>
			<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
		</form>

	</div>
	<!-- End page content -->

	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script th:replace="fragments/common :: [//script]"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>
