<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tag">

<head th:include="fragments/common :: [//head]">
<!-- Bootstrap core CSS -->
    <link href="ThemeTemplate/assets/css/bootstrap.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="ThemeTemplate/assets/css/main.css" rel="stylesheet"/>

    <link href="ThemeTemplate/assets/css/font-awesome.min.css" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    

</head>

<body>
<div role="navigation" th:substituteby="fragments/menu :: [//nav[@class='menu']]"></div>
	
	
	

	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Aide<br/>
						à l'utilisation
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div>
   


	<!-- PROCESS SECTION -->
    <div class="container">
      <div class="row mt">
		  <div class="col-lg-8">
		  	<h1>Aide</h1>
		  	<hr/>
		  	<h3><b>Gérer la caisse</b></h3>
		  	<p>  is simply dummy text of the printing and  industry.  has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		  	<br/>
		  	<h3><b>Gérer les clients</b></h3>
		  	<p>It has survived not only five centuries, but also the leap into electronic , remaining essentially unchanged. It was  in the 1960s with the release of  sheets containing   passages, and more recently with desktop publishing software.</p>
		  	<br/>
		  	<h3><b>Gérer les produits</b></h3>
		  	<p>  is simply dummy text of the printing and  industry.   has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		  	<br/>
		  	<h3><b>Gérer les factures</b></h3>
		  	<p>It has survived not only five centuries, but also the leap into electronic , remaining essentially unchanged. It was  in the 1960s with the release of  sheets containing   passages, and more recently with desktop publishing software.</p>
		  </div>
		  <div class="col-lg-4">
			<ul class="process effect-2" id="process">
				<li><img src="ThemeTemplate/assets/img/process/pro01.png"/></li>
				<li><img src="ThemeTemplate/assets/img/process/pro01.png"/></li>
				<li><img src="ThemeTemplate/assets/img/process/pro01.png"/></li>
				<li><img src="ThemeTemplate/assets/img/process/pro01.png"/></li>
			</ul>
		  </div><!--  -->
      </div><!-- /row -->
    </div><!-- /.container -->



	

<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="ThemeTemplate/assets/js/bootstrap.min.js"></script>
    <script src="ThemeTemplate/assets/js/main.js"></script>
	<script src="ThemeTemplate/assets/js/masonry.pkgd.min.js"></script>
	<script src="ThemeTemplate/assets/js/imagesloaded.js"></script>
    <script src="ThemeTemplate/assets/js/classie.js"></script>
        <script src="ThemeTemplate/assets/js/modernizr.custom.js"></script>
	<script src="ThemeTemplate/assets/js/AnimOnScroll.js"></script>
	<script>
		new AnimOnScroll( document.getElementById( 'process' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>
	

</body>
</html>