<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: [//head]">
</head>

<body>
	<div role="navigation" th:substituteby="fragments/menu :: [//div[@class='navbar']]"></div>
	
	<!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>
        	Home
        	<small>Comment</small>
        </h1>
      </div>
      <p>This is a sample text.This is a sample text</p>
    </div>
	<!-- End page content -->

	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script th:replace="fragments/common :: [//script]"></script>

	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/home.js}"></script>
	
	
	
</body>
</html>