<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/common :: [//head]">
</head>

<body>
	<div th:include="fragments/menu :: [//div[@id='menu']]"></div>
	
	<div class="container">
		<div class="panel panel-default">
 			<div class="panel-body">
    			   			
    			
    			
    			
    			
  			</div>
			<div th:include="fragments/common :: [//div[@id='footer']]"></div>
		</div>
	</div>
</body>

<script type="text/javascript">
$( document ).ready(function() {
});
</script>

</html>