<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tag">

<head th:include="fragments/common :: [//head]">
</head>

<body>
	<div role="navigation" th:substituteby="fragments/menu :: [//div[@class='navbar']]"></div>
	
	<!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>
        	Accueil
        	<small>Bienvenue</small>
        </h1>
      </div>
      <p>Appli Miage Online Store</p>

<div sec:authorize="hasRole('ROLE_ADMIN')">
	<div>Bonjour <span sec:authentication="principal.username"></span></div>
  	<div>Vous êtes connecté en rôle <span sec:authentication="principal.authorities"></span></div>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
	<div>Bonjour <span sec:authentication="principal.username"></span></div>
  	<div>Vous êtes connecté en rôle <span sec:authentication="principal.authorities"></span></div>
</div>
<div sec:authorize="hasRole('ROLE_ANONYMOUS')">
  Vous n'êtes pas connecté
  <div><a th:href="@{/login}">S'authentifier</a></div>
</div>  


    
    </div>

	<!-- End page content -->

	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	<script th:replace="fragments/common :: [//script]"></script>

	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	
	
</body>
</html>
