<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:switch="${customer.id}">
	
		<h1 th:case="0">Create a new customer</h1>
		<h1 th:case="*">Edit an existing customer</h1>
	</div>
    <form action="#" th:object="${customer}" method="post">
    	<p>Last name: <input type="text" th:field="*{lastName}" /></p>
    	<p>First name: <input type="text" th:field="*{firstName}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>