<div class="modal fade" id="divformcustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span>
				</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<form id="formcustomer" th:action="@{/customer}" method="post" th:object="${customer}" class="form-horizontal" role="form">
					<input type="hidden" th:field="*{id}" />
				
					<div class="form-group">
						<label for="lastName" class="col-sm-2 control-label">Nom</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{lastName}" placeholder="Nom" />
							<span th:id="err-lastName" />
						</div>
					</div>

					<div class="form-group">
						<label for="firstName" class="col-sm-2 control-label">Prénom</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{firstName}" placeholder="Prénom" />
							<span th:id="err-firstName" />
						</div>
					</div>

					<div class="form-group">
						<label for="customerGroups" class="col-sm-2 control-label">Groupe</label>
						<div class="col-sm-10">
							<select multiple="true" th:field="*{customerGroups}">
								<option th:each="custGroup : ${custGroups}"
									th:field="*{customerGroups}"
									th:value="${custGroup.id}"
									th:text="${custGroup.name}" />
							</select>
							<span th:id="err-customerGroup" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">
								<span class="glyphicon glyphicon-ok"></span> Valider
							</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Fermer
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer"></div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->