<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tag">

<head th:include="fragments/common :: [//head]">
</head>

<body>

<div role="navigation" th:substituteby="fragments/menu :: [//nav[@class='menu']]"></div>
	
	


	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-lg-offset-2">

					<h2>
						Gérer<br /> les clients
					</h2>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /headerwrap -->

		


	<div class="container">
		<div class="row ">
			<div class="col-lg-2">
				<div class="panel panel-default">
					<h4 class="text-center">
						<b>Ajouter un nouveau client</b>
					</h4>
					<div class="text-center">
						<button id="buttoncreatecustomer" class="btn btn-green btn-lg glyphicon glyphicon-plus" data-toggle="modal"></button>
					</div>
				</div>
				<div class="panel panel-default">
					<h4 class="text-center">
						<b>Rechercher un client</b>
					</h4>
					<div class="text-center">
						<form id="formfilter" th:action="@{/customer}" method="get">
							<input id="filtername" name="filtername" type="text" class="form-control" placeholder="Nom et/ou prénom" th:value="${filtername}"/>
							<button class="btn btn-green btn-lg glyphicon glyphicon-search" type="submit"></button>
							<button class="btn btn-green btn-lg glyphicon glyphicon-refresh" type="button" onclick="initFilter(); return false;"></button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="panel panel-default">
					<table class="tablesorter table table-striped">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prénom</th>
								<th class="filter-false sorter-false">Groupe</th>
								<th class="filter-false sorter-false">Options</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th colspan="7" class="ts-pager form-horizontal">
									<button type="button" class="btn first">
										<i class="icon-step-backward glyphicon glyphicon-step-backward"></i>
									</button>
									<button type="button" class="btn prev">
										<i class="icon-arrow-left glyphicon glyphicon-backward"></i>
									</button>
									<span class="pagedisplay"></span>
									<button type="button" class="btn next">
										<i class="icon-arrow-right glyphicon glyphicon-forward"></i>
									</button>
									<button type="button" class="btn last">
										<i class="icon-step-forward glyphicon glyphicon-step-forward"></i>
									</button>
									<select class="pagesize input-mini" title="Taille de la page">
										<option value="5">5</option>
										<option selected="selected" value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
									</select>
								</th>
							</tr>
						</tfoot>
						<tbody>
							<!--<tr th:each="customer : ${page.content}">-->
							<tr th:each="customer : ${customers}">
								<td class="table-cell" th:text="${customer.lastName}"></td>
								<td class="table-cell" th:text="${customer.firstName}"></td>
								<td class="table-cell">
									<div th:each="customerGroup : ${customer.customerGroups}">
										<a class="customerGroup" th:id="${customerGroup.id}"
											th:action="@{/customer/grouppopover}"> <span
											th:text="${customerGroup.name}"></span>
										</a>
									</div>
								</td>
								<td class="table-cell">
									<button th:onclick="@{'javascript:editCustomer(\'' + @{/customer/edit} + '\', ' + ${customer.id} + '); return false;'}" class="btn btn-green btn-default btn-xs">
										<i class="glyphicon glyphicon-pencil"></i>
									</button>
									<a th:href="@{'/customer/delete/' + ${customer.id}}" class="btn btn-default btn-xs">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- container -->

	<div th:substituteby="customer/customerform :: [//div]"></div>
	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	
	<script th:replace="fragments/common :: [//script]"></script>
	<script type="text/javascript" th:src="@{/js/jquery.tablesorter.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.tablesorter.pager.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.tablesorter.widgets.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/customerslist.js}"></script>
</body>
</html>
