<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tag">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

<h1>Employees list</h1>
	
    
<form action="#" th:object="${employee}" method="post">
    	<p>nom: <input type="text" th:field="*{empNom}" /></p>
    	<p>prenom: <input type="text" th:field="*{empPrenom}" /></p>
    	<p>adresse: <input type="text" th:field="*{adresse}" /></p>
    	<p>heure travaillée: <input type="text" th:field="*{heureTravaillee}" /></p>
    	<p>telephone: <input type="text" th:field="*{telephone}" /></p>
        <p><input type="submit" value="Enregistrer" /> <input type="reset" value="réinitialiser" /></p>
        
    </form>

</body>
</html>