<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tag">

<head th:include="fragments/common :: [//head]">
</head>

<body>
<div role="navigation" th:substituteby="fragments/menu :: [//nav[@class='menu']]"></div>

	<!-- MAIN IMAGE SECTION -->
	<div id="serviceswrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Gérer<br/>
						les employés
					</h2>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<div class="container">
		<div class="row ">
			<div class="col-lg-3">
				<div class="panel panel-default">
					<h4 class="text-center">
						<b>Ajouter un nouvel employé</b>
					</h4>
					<div class="text-center">
						<button id="buttoncreateemployee" class="btn btn-green btn-lg glyphicon glyphicon-plus" data-toggle="modal"></button>
					</div>
				</div>
				<div class="panel panel-default">
					<h4 class="text-center">
						<b>Rechercher un employé</b>
					</h4>
					<div class="text-center">
						<form id="formfilter" th:action="@{/employee}" method="get">
							<input id="filtername" name="filtername" type="text" class="form-control" placeholder="Recherche par nom et/ou prénom" th:value="${filtername}"/>
							<button class="btn btn-green btn-lg glyphicon glyphicon-search" type="submit"></button>
							<button class="btn btn-green btn-lg glyphicon glyphicon-refresh" type="button" onclick="initFilter(); return false;"></button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="panel panel-default">
					<table class="table table-striped">
						<thead>
        					<tr>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Compte</th>
								<th>Rôle</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="employee : ${page.content}">
								<td class="table-cell" th:text="${employee.lastName}"></td>
								<td class="table-cell" th:text="${employee.firstName}"></td>
								<td class="table-cell" th:text="${employee.login}"></td>
								<td class="table-cell" th:text="${employee.role.label}"></td>
								<td class="table-cell">
									<button th:onclick="@{'javascript:editEmployee(\'' + @{/employee/edit} + '\', ' + ${employee.id} + '); return false;'}" class="btn btn-green btn-default btn-xs">
										<i class="glyphicon glyphicon-pencil"></i>
									</button>
									<a th:href="@{'/employee/delete/' + ${employee.id}}" class="btn btn-default btn-xs">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div th:include="fragments/paginationbar :: paginationbar"></div>
				</div>
			</div>
		</div>	
	</div>
	<!-- container -->
	
	<div th:substituteby="employee/employeeform :: [//div]"></div>
	<div th:substituteby="fragments/common :: [//div[@class='footer']]"></div>
	
	<script th:replace="fragments/common :: [//script]"></script>
	
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/employeeslist.js}"></script>	
</body>
</html>