<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tag">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>

<h1>Employees list</h1>
	
    <a href="/createemployee">Create a new employee</a>

 <ul>
    	<li th:each="employee : ${employees}">
    		<span th:text="${employee.empNom}"></span>
    		<span th:text="${employee.empPrenom}"></span>
    		<a th:href="@{/edit(id=${employee.id})}">edit</a>
    		<a th:href="@{/delete(id=${employee.id})}">delete</a>
    	</li>
    </ul>

</body>
</html>