<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
    <meta name="author" content="" />
    <!--<link rel="icon" href="../../favicon.ico" />-->
    
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" th:href="@{/ThemeTemplate/assets/css/bootstrap.css}" />
	
	<!-- Optional theme -->
	<link rel="stylesheet" th:href="@{/ThemeTemplate/assets/css/font-awesome.min.css}" />

	<!-- Custom styles -->

    <link rel="stylesheet" th:href="@{/theme/css/sticky-footer.css}" />
    <link rel="stylesheet" th:href="@{/theme/css/social-buttons-3.css}" />
    
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" th:href="@{/ThemeTemplate/assets/css/main.css}" />
    

     
    
</head>


<div id="cf">
<div class="footer">
   	<div class="container">
       	<p class="text-muted">Copyright 2014</p>
   	</div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>

<script th:src="@{/ThemeTemplate/assets/js/bootstrap.min.js}"></script>

<script th:src="@{/ThemeTemplate/assets/js/AnimOnScroll.js}"></script>


<script th:src="@{/ThemeTemplate/assets/js/classie.js}"></script>
<script th:src="@{/ThemeTemplate/assets/js/imagesloaded.js}"></script>
<script th:src="@{/ThemeTemplate/assets/js/masonry.pkgd.min.js}"></script>
<script th:src="@{/ThemeTemplate/assets/js/main.js}"></script>
<script th:src="@{/ThemeTemplate/assets/js/modernizr.custom.js}"></script>
