<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
    <meta name="author" content="" />
    <!--<link rel="icon" href="../../favicon.ico" />-->
    
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" th:href="@{/theme/css/bootstrap.min.css}" />
	
	<!-- Optional theme -->
	<link rel="stylesheet" th:href="@{/theme/css/bootstrap-theme.min.css}" />

	<!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/theme/css/sticky-footer.css}" />
</head>

<div class="footer">
   	<div class="container">
       	<p class="text-muted">Copyright 2014</p>
   	</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/theme/js/bootstrap.min.js}"></script>