<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a th:href="@{/}">BuyMiage</a></h1>
			<i class="fa fa-arrow-right menu-close"></i>
			<a th:href="@{/}">Accueil</a>
			<a th:href="@{/caisse}">Caisse</a>
			<a th:href="@{/customer}">Clients</a>
			<a th:href="@{/employee}">Employés</a>
			<a th:href="@{/product}">Produits</a>
			<a th:href="@{/factures}">Factures</a>
			<a th:href="@{/charts/piechart}">Statistiques</a>
			<a th:href="@{/help}">Aide</a>
			<a th:href="@{/logout}">Se déconnecter</a>
			

		</div>

	

		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>

