<div th:fragment='paginationbar'>
	<ul class='pagination'>
		<li th:class="@{${page.isFirstPage()} ? 'disabled' : ''}">
			<span th:if='${page.isFirstPage()}'>&laquo;</span>
			<a th:if='${not page.isFirstPage()}' th:href='@{${page.url}(page=0, size=${page.size})}'>&laquo;</a>
		</li>
		<li th:class="@{${not page.hasPreviousPage()} ? 'disabled' : ''}">
			<span th:if='${not page.hasPreviousPage()}'>&lsaquo;</span>
			<a th:if='${page.hasPreviousPage()}' th:href='@{${page.url}(page=${page.number - 1}, size=${page.size})}' title='Go to previous page'>&lsaquo;</a>
		</li>
		<li th:each='item : ${page.items}' th:class="@{${item.current} ? 'active' : ''}">
			<span th:if='${item.current}' th:text='${item.number + 1}'></span>
			<a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number}, size=${page.size})}'>
				<span th:text='${item.number + 1}'></span>
			</a>
		</li>
		<li th:class="@{${not page.hasNextPage()} ? 'disabled' : ''}">
			<span th:if='${not page.hasNextPage()}'>&rsaquo;</span>
			<a th:if='${page.hasNextPage()}' th:href='@{${page.url}(page=${page.number + 1}, size=${page.size})}' title='Go to next page'>&rsaquo;</a>
		</li>
		<li th:class="@{${page.isLastPage()} ? 'disabled' : ''}">
			<span th:if='${page.isLastPage()}'>&raquo;</span>
			<a th:if='${not page.isLastPage()}' th:href='@{${page.url}(page=${page.totalPages - 1}, size=${page.size})}'>&raquo;</a>
		</li>
	</ul>
</div>